body {
    padding-top: 56px;
    background-color: aliceblue;
}
.container {
margin-bottom: 30px;
}

.centered-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

@media (max-width: 767px) {
    body {
        padding-top: 0;
        margin-top: 20;
    }

    .container {
        padding-top: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 8px;
        margin-right: 8px;
        max-width: 800px;
        padding: 20px;
    }
}

.custom-container {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav a {
    font-size: 18px;
}

/* Style untuk mencetak */
@media print {
    body {
        background-color: white;
    }

    .custom-container {
        box-shadow: none;
        width: auto;
        padding: 0;
        border-radius: 0;
    }

    .custom-footer {
        display: none;
    }
}

.custom-footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    /* position: fixed; */
    bottom: 0;
}

.center-label {
    display: block;
    margin: 10px auto; /* Menengahkan elemen */
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.bold-hr {
    border: 0; /* Menghilangkan border default */
    border-top: 2px solid black; /* Menambah border baru dengan ketebalan 2px (sesuai kebutuhan) */
    margin: 20px 0; /* Memberikan margin sesuai kebutuhan */
}